[Unit]
Description=botvpk service
After=network.target

[Service]
User=REPLACE_USER
WorkingDirectory=/opt/botvpk
EnvironmentFile=/opt/botvpk/.env
ExecStart=/opt/botvpk/.venv/bin/python /opt/botvpk/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
